$lightgrey : #D7D7D7;


*{
	margin: 0;
	padding: 0;
}

.container{
	min-height: 300px;
	width: 100%;
	background: #D7D7D7;
}

.input-area{
	float:left;
	margin-top:20px;
}

.text{
	float:left;
	clear:both;
}

.name-cont{
	background-color:red;
	padding:0px 5px;
}