<!doctype html>
<html ng-app = "myApp">
  <head>
    <meta charset="utf-8">
    <title>AngularJS Email App</title>
    <link href="assets/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">
	  <div class="row">
		    <div class="col-md-12" ng-controller="nameCtrl">
		        Welcome {{firstname}} {{lastname}}</p>
		        <input type="text" ng-model="firstname">
		         <input type="text" ng-model="lastname">
		    </div>
	   </div>
   </div>
	<script src="assets/components/jquery/dist/jquery.min.js"> </script>
	<script src="assets/components/angular/angular.min.js"> </script>
	<script src="assets/components/bootstrap/dist/js/bootstrap.min.js"> </script>
	<script src="assets/js/script.js"> </script>
  </body>
</html>
